.modalOverlay{
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, .8);
}

.modal-window{
    width: 600px;
    height: 200px;
    border-radius: 5px;
    background-color: #fff;
    border: 1px solid #272727;
}

.modal-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    border-bottom: 1px solid #272727;
}

.modal-title{
    font-size: 1.5rem;
    text-transform: uppercase;
    color: #272727;
    font-style: italic;
}

.modal-close{
    cursor: pointer;
    outline: none;
    font-size: 2rem;
}