.modal{

}

.modal.hide .modalOverlay,
.modal.hide .modal-window{
    transition: all .5s ease;
    opacity: 1;
    z-index: 1000;
}


.modal.hide .modal-window{
    transform: translateY(-100%);
}

.modal.hide .modalOverlay{
    background-color: rgba(0, 0, 0, 0);
}

.modal.open .modalOverlay,
.modal.open .modal-window{
    opacity: 1;
    z-index: 1000;
}

.modal.open .modal-window{
    transform: translateY(0);
}

.modal.open .modalOverlay{
    background-color: rgba(0, 0, 0, 0.8);
}

.modal-window, .modalOverlay{
    opacity: 0;
    z-index: -10;
}

.modalOverlay{
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0);
    transition: background .5 linear;
}

.modal-window{
    width: 600px;
    border-radius: 5px;
    background-color: #fff;
    border: 1px solid #272727;
    transform: translateY(-100%);
    transition: all .5s ease-in;
}

.modal-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    border-bottom: 1px solid #272727;
}

.modal-title{
    font-size: 1.5rem;
    text-transform: uppercase;
    color: #272727;
    font-style: italic;
}

.modal-close{
    cursor: pointer;
    outline: none;
    font-size: 2rem;
}

.modal-content{
    padding: 10px;
}

.modal-footer{
    display: flex;
    justify-content: end;
    align-items: center;
    padding: 10px 20px;
    border-top: 1px solid #272727;
}

button{
    cursor: pointer;
    background-color: #4CAF50; /* Green */
    border: 1px solid transparent;
    color: #fff;
    padding: .5rem 1rem;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1rem;
    border-radius: 10px;
    transition: all .5s ease-in-out;
    margin: 0 5px;
}

button:hover{
    border: 1px solid #272727;
    background-color: #fff;
    color: #4CAF50;;
}